<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
    </style>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="//cdn.jsdelivr.net/emojione/1.5.0/lib/js/emojione.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/1.5.0/assets/css/emojione.min.css" />

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.2/handlebars.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <section class="convert-emoji">
        <a href="#" data-emoji=":smile:">:smile:</a>
        <a href="#" data-emoji=":heart_eyes_cat:">:heart_eyes_cat:</a>
        <a href="#" data-emoji=":smiley_cat:">:smiley_cat:</a>
        <a href="#" data-emoji=":tada:">:tada:</a>
        <a href="#" data-emoji=":heart:">:heart:</a>
      </section>
      <button>Send</button>
    </form>
  </body>
</html>

