<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
    </style>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="//cdn.jsdelivr.net/emojione/1.5.0/lib/js/emojione.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/1.5.0/assets/css/emojione.min.css" />

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.2/handlebars.min.js"></script>
    <script>
      function message_template() {
        var template = "<img src='images/avatars/{{ user }}.png' class='avatar'><div class='message'>{{{ msg }}}</div>";
        return Handlebars.compile(template)
      }
      $(function() {
        var socket = io();
        var buffer = [];
        var user   = null;
        var msg_template = message_template()

        $(".convert-emoji").each(function() {
          var original = $(this).html();
          // use .shortnameToImage if only converting shortnames (for slightly better performance)
          var converted = emojione.toImage(original);
          $(this).html(converted);
        });

        $('form').submit(function(){
          var text = buffer.join(' ');
          buffer = [];
          console.log(socket.id);
          socket.emit('/chat/message', {msg: text, user: user});
          return false;
        });
        
        socket.on('/user/assign', function(avatar) {
          user = avatar;
        });

        socket.on('/user/join', function(avatar) {
          if (user === avatar) return;
          msg = {user: avatar, msg: 'joined' }
          $('#messages').append($('<li>')).append($(msg_template(msg)));
        });

        socket.on('/chat/message', function(msg){
          msg.msg = emojione.toImage(msg.msg);
          console.log((msg_template(msg)));
          $('#messages').append($('<li>')).append($(msg_template(msg)));
        });

        $('.convert-emoji a').click(function(e) {
          buffer.push($(this).attr('data-emoji'));

          return false;
        });
      });
    </script>

  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <section class="convert-emoji">
        <a href="#" data-emoji=":smile:">:smile:</a>
        <a href="#" data-emoji=":heart_eyes_cat:">:heart_eyes_cat:</a>
        <a href="#" data-emoji=":smiley_cat:">:smiley_cat:</a>
        <a href="#" data-emoji=":tada:">:tada:</a>
        <a href="#" data-emoji=":heart:">:heart:</a>
      </section>
      <button>Send</button>
    </form>
  </body>
</html>

