<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">

    <title>iHappy Chat</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="//cdn.jsdelivr.net/emojione/1.5.0/lib/js/emojione.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/1.5.0/assets/css/emojione.min.css" />

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.2/handlebars.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <div id="container-fluid">
      <div id="messages" class="container-fluid">
      </div>
      <form action="" class="container-fluid">
        <div class="row">
        <section class="convert-emoji col-md-8 col-xs-8">
        </section>
      </div>
      <div class="row">
        <div id="curm" style="display: inline-block" class="col-md-6 col-xs-6">
            <span></span>
        </div>
        <button class="col-md-2 col-xs-2">Send</button>
      </div>
      </form>
    </div>
  </body>
</html>

