* { margin: 0; padding: 0; box-sizing: border-box; }
form {
  background: #fff;
  padding: 3px;
  position: fixed;
  width: 100%;
  bottom: 0
}
form section { border: 0; padding: 10px; width: 90%; margin-right: .5%; }

#messages {
  margin: 10px;
  height: 80%;
  background: white;
  width: 100%;
  overflow: scroll;
  margin-bottom: 30px;
}


.convert-emoji a:hover {
  border: 1px solid transparent;
}
.avatar {
  margin: 5px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.message {
  background-color: red;
  padding: 10px;
  height: 100%;
  min-height: 100%;
}
.message.odd {
  background-color: #f7f4d4;
}

.message.even {
  background-color: #dcf3d4;
}

.contained-message {
  margin: 5px;
}
