* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form {
  background: #fff;
  padding: 3px;
  position: fixed;
  width: 100%;
  bottom: 0
}
form section { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
.avatar {
  height: 98px;
}

.message {
  padding: 10px;
}
.message.odd {
  background-color: #f7f4d4;
}

.message.even {
  background-color: #dcf3d4;
}
